[Unit]
Description=Elasticsearch
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
PIDFile=/home/ub6/SERVER6/elasticsearch/RUN/elasticsearch.pid
WorkingDirectory=/home/ub6/SERVER6/elasticsearch/RUN
ExecStart=/home/ub6/SERVER6/elasticsearch/RUN/run_elastic

[Install]
WantedBy=multi-user.target

